  <!-- Page Header Start -->
<div class="container-fluid bg-secondary mb-5">
    <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
        <h1 class="font-weight-semi-bold text-uppercase mb-3">Help </h1>
        <div class="d-inline-flex">
            <p class="m-0"><a href="@Url.Action("Index","Home")">Home</a></p>
            <p class="m-0 px-2">-</p>
            <p class="m-0">Help</p>
        </div>
    </div>
</div>
<!-- Page Header End -->
<!-- Contact Start -->
<div class="container-fluid ">
    <div class="text-center mb-5">
        <h2 class="section-title "><span class="px-2">-Write For Support-</span></h2>
    </div>
    <div class="row justify-content-center">
        <div class="col-lg-7 mb-5">
            <div class="contact-form">
                <div id="success"></div>
                <form action="/" method="post">
                    <div class="control-group mb-4">
                        <input type="text" class="form-control" id="name" name="name" placeholder=" Name" required />
                    </div>
                    <div class="control-group mb-4">
                        <input type="email" class="form-control" id="email" name="email" placeholder=" Email" required />
                    </div>
                    <div class="control-group mb-4">
                        <input type="text" class="form-control" id="subject" name="subject" placeholder="Subject" required />
                    </div>
                    <div class="control-group mb-4">
                        <textarea class="form-control" rows="6" id="message" name="message" placeholder="Message" required></textarea>
                    </div>
                    <div>
                        <button class="btn btn-primary py-2 px-4" type="submit" id="sendMessageButton">
                            Send Message
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Contact End -->